// toast
.saveSucToast {
  position: fixed;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 666;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 40px;
  padding: 20px 40px;
  margin-top: 120px;
  opacity: 1;
  font-size: 22px;
}
.saveSucToast.run {
  margin-top: 0;
  opacity: 1;
  animation: toastRun 0.3s ease-out alternate;
}

@keyframes toastRun {
  0% {
    margin-top: 120px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

// errMsg
.commonBtn {
  min-width: 200px;
  line-height: 88px;
  background-color: #5C46FF;
  border-radius: 44px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  font-family: "simHei";
  font-weight: 500;
  margin: 40px 0;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #fff;
  .loadWpr,
  .errMsgWpr,
  .cameraMenuWpr,
  .owpr {
    width: 400px;
    height: 280px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
  .load,
  .errMsgIn,
  .cameraMenuIn {
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}

.errMsg {
  z-index: 102;
  // display: flex;
  var {
    font-size: 34px;
    color: #333;
    padding: 0 60px;
    line-height: 1.4;
    text-align: center;
  }
}
