
html,body{height: 100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figure,figcaption,small,button,input,textarea,th,td,s{margin:0;padding:0}
input[type=number]
::-webkit-inner-spin-button,input[type=number]
::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
address,cite,dfn,em,var{font-style:normal}
h1,h2,h3,h4,h5{font-weight: 400;}
ul,ol{list-style:none}
a{text-decoration:none;color:inherit}
a:hover{text-decoration:none}
a:focus,button:focus,input:focus{outline:none;}
q:before,q:after{content:''}legend{color:#000}fieldset,img{border:0}
button,input,select,textarea{font-size:100%;border:none;}
table{border-collapse:collapse;border-spacing:0}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;-webkit-overflow-scrolling:touch;}
body {-webkit-tap-highlight-color: rgba(0,0,0,0);margin:0 auto;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background-color:#fff;position: relative;color:#fff;}

    /* 覆盖swiper css样式 */
/* .swiper-pagination-bullet:focus {
outline: none!important;
}
.swiper-pagination-bullet-active:focus {
outline: none!important;
}
.swiper-pagination-bullet:active {
outline: none!important;
}
.swiper-pagination-bullet-active:active {
outline: none!important;
} */