<template>
  <div class="home">

    <!-- 1. 导航 -->
    <Navigation />

    <!-- 2. tab栏 -->
    <van-tabs
      swipeable
      sticky
      :offset-top="0"
      line-height="2.5"
      title-inactive-color="#8D8C98"
      title-active-color="#000"
      color="#5C46FF"
      v-model="active"
    >
      <van-tab class="contSty" title="Deep Link">
        <DeepLink />
      </van-tab>
      <van-tab class="contSty" title="API">
        <Api />
      </van-tab>
      <van-tab class="contSty" title="注意事项">
        <Note />
      </van-tab>
    </van-tabs>
   
  </div>
</template>

<script>
// @ is an alias to /src
import Navigation from '@/components/Navigation'
import DeepLink from '@/components/DeepLink'
import Api from '@/components/Api'
import Note from '@/components/Note'

export default {
  name: 'Home',
  components: {
    Navigation,
    DeepLink,
    Api,
    Note
  },
  data() {
    return {
      active: 0
    };
  },
  beforeMount() {
    let timer = setInterval(() => {
      let rootFontSize = (document.documentElement.clientWidth || document.body.clientWidth) / 10;
      document.getElementsByTagName("html")[0].style.fontSize = rootFontSize + "px";
      console.log('rootFontSize:', rootFontSize);
      if (rootFontSize > 32) {
        clearInterval(timer);
      }
    }, 60);
    setTimeout(() => {
      clearInterval(timer);
    }, 3000);
    // window.addEventListener("resize", () => {
    //   document.getElementsByTagName("html")[0].style.fontSize =
    //     (document.documentElement.clientWidth || document.body.clientWidth) / 10 + "px";
    // });
  },
}
</script>

<style lang="scss" scoped>
.imgSty{
  width: 100%;
  height: 80px;
}
.contSty{
  font-size: 24px;
  color: #333;
}
// .van-tab__text{
//   font-weight: 500;
// }
</style>