<template>
  <div class="feed">

    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="没有更多了"
      @load="onLoad"
    >
      
      <van-cell @click="singleImage1">
        9.1 Render Api v2 (Create single image with booth id) 韩国接口走中国CDN，boothId传几个人的，hashCode就要传几个。一个图一个人。
      </van-cell>
      <van-cell @click="singleImage2">
        9.1 Render Api v2 (Create single image with booth id) 韩国接口走中国CDN，boothId传几个人的，hashCode就要传几个。一个图多个人。
      </van-cell>

      <van-cell @click="multipleImage">
        9.2 Render Api v2 (Create multiple image with booth id array) 韩国接口走中国CDN，多个图，每个图上的人数取决于boothId。
      </van-cell>

      <van-cell @click="setFollowFn">
        10.1 关注 v2 目前依赖这边的后端
      </van-cell>

    </van-list>

    <div class="img_box1">
      <img src="" id="zz_img1" alt="">
    </div>
    <div class="img_box1">
      <img src="" id="zz_img2" alt="">
    </div>
    <div class="img_box2">
      <img src="" id="zz_img3" alt="">
      <img src="" id="zz_img4" alt="">
    </div>
   
  </div>
</template>

<script>
import appApi from "@/api/api"

export default {
  name: 'Api',
  data() {
    return {
      list: [],
      loading: false,
      finished: false,
    };
  },
  methods: {
    onLoad() {
      // 加载状态结束
      this.loading = false;
      // 数据全部加载完成
      this.finished = true;
    },
    
    /**
     * 获取背景透明的单个崽崽人物形象单个图
     * 拿到的图片宽度固定512
     */
    singleImage1() {
      let zepetoId = 'ZVGDAK'
      let boothId = 'PHOTOBOOTH_ONE_271'
      // if(process.env.MODE !== 'dev') {
      //   zepetoId = this.userInfo.zepetoId
      // }
      appApi.renderSingleImage({poseId: boothId, hashcodes: zepetoId})
        .then(res => {
          console.log(res.url)
          document.getElementById('zz_img1').src=res.url
        })
        .catch(err => {
         alert(err)
        })
    },
    singleImage2() {
      appApi.renderSingleImage({poseId: 'PHOTOBOOTH_TWO_400', hashcodes: ["1LTI1E",
      "VLUFUV"]})
        .then(res => {
          console.log(res.url)
          document.getElementById('zz_img2').src=res.url
        })
        .catch(err => {
         alert(err)
        })
    },

    /**
     * 获取背景透明的崽崽人物形象多个图
     * @param "type": "booth", // 默认值，必填 
     * @param "target": { "hashCodes": [ "VLUFUV" ] }
     */
    multipleImage() {
      let boothIds = ['PHOTOBOOTH_ONE_437', 'PHOTOBOOTH_TWO_5']
      let hashCodes = ['ZVGDAK', 'VLUFUV']
      appApi.renderMultipleImage({boothIds, hashCodes})
        .then(res => {
          console.log(res[boothIds[0]].url)
          console.log(res[boothIds[1]].url)
          document.getElementById('zz_img3').src = res[boothIds[0]].url
          document.getElementById('zz_img4').src = res[boothIds[1]].url
        })
        .catch(err => {
         alert(err)
        })
    },

    /**
     * 关注
     * @param token 是自己的
     * @param userId 是要关注的人的
     */
    setFollowFn() {

      let params = {
        'token': window.ZEPETO ? window.ZEPETO.userInfo.authToken : '6Lj+/pr5rGvf3tRm1/T4dmiZNmpvPRx/seQun4fbVOhq1LeHmK+tb09wm0PY3dgDbknBpIvuGNoVO8QyYw4JCbDES/prJlDHiHyteDcOgFM=\\1\\YV17Z9Di0tpEuFpBZ9qruhgEuY4l0tu+CrqBu93K',
        'userId': '5e0454e489dbbe3e8ff04150',
        'duid': window.ZEPETO ? window.ZEPETO.duid : '-',
        'ua': '-'
      }
      
      appApi.setFollow(params)
        .then( res => {
          if (res.code === 200) {
            if (res.result === '{"isSuccess":true}') {
              alert('关注成功')
            } else {
              alert('用户信息错误，关注失败')
            }
          } else {
            alert('关注失败')
          }
        })
        .catch (err => {
          alert(err)
        })
    },

  }
}
</script>

<style lang="scss" scoped>
.img_box1, .img_box2{
  width: 100%;
  min-height: 300px;
  background: lightblue;
}
.img_box1{
  background: lightblue;
}
.img_box2{
  background: lemonchiffon;
}
#zz_img1, #zz_img2, #zz_img3, #zz_img4{
  width: 200px;
  height: auto;
}
</style>