<template>
  <div class="Detail">

    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="没有更多了"
      @load="onLoad"
    >
      
      <!-- <van-cell @click="setRootFont">
        1. 多次连续退出再进入H5，页面会缩放到很小，应每次进入页面设置根字体大小
      </van-cell> -->

      <van-cell @click="getUserInfo">
        2. 获取崽崽信息—window.ZEPETO全局属性
      </van-cell>

      <van-cell @click="copyUrl">
        3. 在崽崽App中打开H5页面
      </van-cell>

      <van-cell @click="closeWebview">
        4. 关闭崽崽
      </van-cell>

      <van-cell @click="goProfile">
        5. 打开他人个人主页/打开他人个人中心
      </van-cell>

      <van-cell @click="goStore">
        6. 去换衣服/试衣间，实际是去商店（可分类），可返回H5
      </van-cell>

      <van-cell @click="goStorePosture">
        6.1 去商店（姿势分类），可返回H5
      </van-cell>

      <van-cell @click="goStoreHairs">
        6.2 去商店（发型分类），可返回H5
      </van-cell>

      <van-cell @click="goStorePants">
        6.3 去商店（裤子分类），可返回H5
      </van-cell>

      <van-cell @click="goStoreSocks">
        6.4 去商店（袜子分类），可返回H5
      </van-cell>

      <van-cell @click="goStoreRoom">
        6.5 去商店（家具分类），可返回H5
      </van-cell>

      <van-cell @click="handleSave">
        7. 保存图片到相册，必须是base64
      </van-cell>

      <van-cell @click="handleUpload">
        8. 将图片上传到Feed，先保存到相册在从相册中选图上传到feed，必须是base64
      </van-cell>

      <van-cell @click="hadItem">
        13. 部件（衣服，裤子等）穿戴，hashCode不起作用，嘴巴id应该是其他接口（待完善）
      </van-cell>

      <van-cell @click="goPhoto">
        14. 去拍照分栏 BOOTH，可返回H5
      </van-cell>

      <van-cell @click="openCamera1">
        15.1 打开拍摄，可返回H5（实际与下面两个一样）
      </van-cell>

      <van-cell @click="openCamera2">
        15.2 打开拍摄，PHOTO，可返回H5
      </van-cell>

      <van-cell @click="openCamera3">
        15.3 打开拍摄，VIDEO，可返回H5
      </van-cell>

      <van-cell @click="openMenu">
        16.1 打开主页Menu
      </van-cell>

      <van-cell @click="openMainPage">
        16.2 打开主页和名称
      </van-cell>

      <van-cell @click="openRoomDecoration">
        17.1 打开房屋装饰，可返回H5
      </van-cell>

      <van-cell @click="openFloorDecoration">
        17.2 打开地板装饰，可返回H5
      </van-cell>

      <van-cell @click="openWorld">
        18. 打开崽崽世界
      </van-cell>

      <van-cell @click="openNotify">
        19. 打开通知页，可返回H5
      </van-cell>

      <van-cell @click="openGiftBox">
        20. 打开礼物盒，可返回H5
      </van-cell>

      <van-cell @click="goMainPage">
        21. 打开个人中心
      </van-cell>

      <van-cell @click="goVisit">
        22. 拜访，暂不能使用
      </van-cell>

      <van-cell @click="showList">
        23. 商店展示指定物件
      </van-cell>

      <van-cell @click="goFriendList1">
        25.1 跳转到关注的好友聊天列表，不能返回H5
      </van-cell>

      <van-cell @click="goFriendList2">
        25.2 跳转到和某个用户的聊天界面，返回到聊天列表（25.1），再返回到H5
      </van-cell>

      <van-cell @click="goFriendList3">
        25.3 跳转到和某个用户的聊天界面，直接返回到H5
      </van-cell>
      

    </van-list>
   
  </div>
</template>

<script>
const hashCode = 'ZVGDAK' // 王静的崽崽

import RenderClass from '@/utils/renderClass.js'

export default {
  name: 'Detail1',
  data() {
    return {
      list: [],
      loading: false,
      finished: false,

    };
  },
  created() {
    RenderClass.UserInfo()
    
  },
  beforeMount() {
    
  },
  mounted() {
    setTimeout(() => {
      console.log('Amoer:', RenderClass.userInfo)
    }, 2000)
  },
  methods: {
    
    onLoad() {
      // 异步更新数据
      // setTimeout 仅做示例，真实场景中一般为 ajax 请求
      // 加载状态结束
      this.loading = false;
      // 数据全部加载完成
      this.finished = true;
    },

    /**
     * 1. 设置根字体
     */
    setRootFont() {
      let timer = setInterval(() => {
        let rootFontSize = (document.documentElement.clientWidth || document.body.clientWidth) / 10;
        document.getElementsByTagName("html")[0].style.fontSize = rootFontSize + "px";
        console.log('rootFontSize:', rootFontSize);
        if (rootFontSize > 32) {
          clearInterval(timer);
        }
      }, 60);
      setTimeout(() => {
        clearInterval(timer);
      }, 3000);
    },

    /**
     * 2. 获取崽崽用户信息
     */
    getUserInfo() {
      RenderClass.UserInfo()
    },

    /**
     * 3. 复制url
     */
    copyUrl() {
      console.log('ZEPETO://HOME/WEBVIEW?url=http://h5-act-beta.kajicam.com/zepeto/jsBridgeZZ/index.html')
    },

    /**
     * 4. 关闭
     */
    closeWebview() {
      RenderClass.Close()
    },

    /**
     * 5. 打开他人个人主页/打开他人个人中心
     */
    goProfile() {
      RenderClass.VisitOtherCenter(hashCode)
    },

    /**
     * 6. 去换衣服/试衣间，实际是去商店（可分类），可返回H5
     */
    goStore() {
      RenderClass.OpenStore()
    },

    /**
     * 6.1 去商店（姿势分类），可返回H5
     */
    goStorePosture() {
      RenderClass.OpenStorePosture()
    },

    /**
     * 6.2 去商店（发型分类），可返回H5
     */
    goStoreHairs() {
      RenderClass.OpenStoreHairs()
    },

    /**
     * 6.3 去商店（裤子分类），可返回H5
     */
    goStorePants() {
      RenderClass.OpenStorePants()
    },

    /**
     * 6.4 去商店（袜子分类），可返回H5
     */
    goStoreSocks() {
      RenderClass.OpenStoreSocks()
    },

    /**
     * 6.5 去商店（家具分类），可返回H5
     */
    goStoreRoom() {
      RenderClass.OpenStoreRoom()
    },

    /**
     * 7. 保存图片到相册
     */
    handleSave() {
      let base64 = document.getElementById(`photo`).src
      const saveSucess = () => {
        alert('保存成功')
      }
      RenderClass.SaveImage(saveSucess, base64)
    },

    /**
     * 8. 将图片上传到Feed
     */
    handleUpload() {
      let base64 = document.getElementById(`photo`).src; // 获取图片base64字符串
      RenderClass.Feed(base64)
    },

    /**
     * 13. 部件（衣服，裤子等）穿戴
     */
    hadItem() {
      // 应用场景：在H5中给崽崽指定穿戴item，然后崽崽在H5外穿戴上这些item
      // hashCode不起作用，嘴巴id应该是其他接口
      // window.location.href = `ZEPETO://HOME/SHOP/OOTD/CONTENTS/PREVIEW?hashCode=L8NKZB&contentIds=DR_202,F_HAIR_338`
      RenderClass.HadItem()
    },

    /**
     * 14. 去拍照分栏
     */
    goPhoto() {
      RenderClass.OpenBooth()
    },

    /**
     * 15.1 打开拍摄，使用自己的崽崽头像，这三个打开的效果是一样的，可能韩国没开发完
     */
    openCamera1() {
      RenderClass.OpenCameraCapture()
    },
    // 15.2
    openCamera2() {
      RenderClass.OpenCameraPhoto()
    },
    // 15.3
    openCamera3() {
      RenderClass.OpenCameraVideo()
    },

    /**
     * 16.1 打开个人主页Menu
     */
    openMenu() {
      RenderClass.OpenHomeMenu()
    },

    /**
     * 16.2 打开个人主页名称
     */
    openMainPage() {
      RenderClass.OpenHomeName()
    },

    /**
     * 17.1 打开房屋装饰，可返回H5
     */
    openRoomDecoration() {
      RenderClass.OpenRoomDecoration()
    },

    /**
     * 17.2 打开地板装饰，可返回H5
     */
    openFloorDecoration() {
      RenderClass.OpenFloorDecoration()
    },

    /**
     * 18. 打开崽崽世界
     */
    openWorld() {
      RenderClass.OpenWorld()
    },

    /**
     * 19. 打开通知页，可返回H5
     */
    openNotify() {
      RenderClass.OpenNotify()
    },

    /**
     * 20. 打开礼物盒，可返回H5
     */
    openGiftBox() {
      RenderClass.OpenGiftBox()
    },

    /**
     * 21. 打开个人中心
     */
    goMainPage() {
      RenderClass.OpenUserCenter()
    },

    /**
     * 22. 拜访
     */
    goVisit() {
      RenderClass.Visit()
    },

    /**
     * 23. 商店展示指定物件
     */
    showList() {
      RenderClass.GoodsList()
    },

    /**
     * 25.1 跳转到关注的好友聊天列表，不能返回H5
     */
    goFriendList1() {
      RenderClass.OpenFriendList1()
    },

    // 25.2 跳转到和某个用户的聊天界面，返回到聊天列表（25.1），再返回到H5
    goFriendList2() {
      let userId = '5e0454e489dbbe3e8ff04150'
      RenderClass.OpenFriendList2(userId)
    },

    // 25.3 跳转到和某个用户的聊天界面，直接返回到H5
    goFriendList3() {
      let userId = '5e0454e489dbbe3e8ff04150'
      RenderClass.OpenFriendList3(userId)
    }

  }
}
</script>

<style lang="scss" scoped>

</style>