<template>
  <transition name="fade-transform" mode="out-in">
    <div class="leaveBg" @click="hideToast" v-show="leaveInfo">
      <div class="toast">
        <pre>
          <p class="change" @click="leaveH5">去换衣服</p>
          <p class="close" @click="closeH5">离开/关闭崽崽</p>
        </pre>
      </div>
    </div>
  </transition>
</template>

<script>
// import { mapGetters, mapActions } from "vuex";

export default {
  name: "Leave",
  props: ['leaveInfo'],
  computed: {
    // ...mapGetters(["ruleContent"])
  },
  methods: {
    // ...mapActions(["SetRule"])
    // 离开去换衣服
    leaveH5() {
      const currentUrl = window.location.href;
      let urlSplitArr = []
      let currUrl;
      if (currentUrl.indexOf('#') !== -1) {
        urlSplitArr = currentUrl.split('#')
        currUrl = urlSplitArr[0]
        console.log(currUrl)
      } else {
        currUrl = currentUrl
        console.log(currUrl)
      }
      
      const referrerUri = encodeURIComponent(
        // encodeURIComponent(`zepeto://home/webview?url=${currentUrl}`)
        encodeURIComponent(`zepeto://home/webview?url=${currUrl}`)
      );
      // window.location.href = `zepeto://home/SHOP/CONTENTS/PREVIEW?F_HAIR_375,TOP_270,BTM_208,SH_362,SOX_177&referrer=${referrerUri}`;
      window.location.href = `ZEPETO://HOME/SHOP/COSTUME?referrer=${referrerUri}`; // 去商店就是去试衣间
    },
    // 关闭
    closeH5() {
      window.location.href = 'ZEPETO://WEBVIEW/CLOSE'
    },
    // 关闭toast
    hideToast() {
      this.$emit('notifyParent', false)
    }
  },
  mounted() {
    // console.log(this.SetLike)
    //
    // this.SetRule(1)
    // setTimeout(()=>{
    //     this.SetRule(0)
    // },3000)
    // setTimeout(()=>{
    //     this.SetRule(1)
    // },6000)
  }
};
</script>

<style lang='scss' scoped>
.leaveBg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .toast {
    width: 315px;
    height: 210px;
    margin-top: -25px;
    background-color: #fff;
    border-radius: 20px;
    padding: 27px 24px;
    box-sizing: border-box;
    pre {
      flex: 1;
      font-size: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      
      p{
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        color: #000;
        padding-left: 64px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: left center;
      }
      .change{
        margin-bottom: 55px;
        background-image: url('../assets/img/ic_cloths@2x.png');
      }
      .close{
        background-image: url('../assets/img/ic_h5@2x.png');
      }
    }
  }
}
</style>
