<template>
  <div>
    <Leave :leaveInfo="leavaFlag" @notifyParent='acceptChild' />
    <nav class="headNav">
      <h2 class="headTitle">崽崽文档<span class="square" @click="handleLeava"></span></h2>
    </nav>
  </div>
</template>

<script>
import Leave from '@/components/Leave.vue'
export default {
  name: "headNav",
  components: {
    Leave
  },
  data() {
    return {
      leavaFlag: false
    }
  },
  methods: {
    // 退出
    handleLeava() {
      this.leavaFlag = true
    },
    // 关闭弹窗
    acceptChild(msg) {
      this.leavaFlag = msg
    }
  }
}
</script>

<style lang="scss" scoped>
.headNav{
  width: 100%;
  // height: 112px;
  // padding: 30px 36px;
  height: 56px;
  padding: 15px 18px;
  box-sizing: border-box;
  color: #323233;
  // font-size: 28px;
  font-size: 14px;
  font-weight: bold;
  .headTitle{
    background-image: url('../assets/img/ex.png'); // 去掉image-webpack-loader包
    // background-image: url('https://h5-activity-beta.oss-cn-beijing.aliyuncs.com/zepeto/jsBridgeZZ/zzImg/ex.png');
    background-repeat: no-repeat;
    // background-size: 36px 36px;
    background-size: 18px 18px;
    background-position: right center;
    position: relative;
    font-weight: 500;
    .square{
      position: absolute;
      // top: 6px;
      // right: -1px;
      // width: 40px;
      // height: 40px;
      top: 3px;
      right: -1px;
      width: 20px;
      height: 20px;
    }
  }
}
</style>