<template>
  <div class="feed">

    <van-list
      v-model="loading"
      :finished="finished"
      finished-text="没有更多了"
      @load="onLoad"
    >
      
      <van-collapse v-model="activeNames">
        <van-collapse-item title="1. 多次连续退出再进入H5，页面会缩放到很小" name="1">
          应每次进入页面设置根字体大小
          <pre style="overflow-x: scroll;">let timer = setInterval(() => {
let rootFontSize = (document.documentElement.clientWidth || document.body.clientWidth) / 10;
document.getElementsByTagName("html")[0].style.fontSize = rootFontSize + "px";
  if (rootFontSize > 32) {
    clearInterval(timer);
  }
}, 60);
setTimeout(() => {
  clearInterval(timer);
}, 3000);</pre>
        </van-collapse-item>
        <van-collapse-item class="contSty" title="26. 崽崽v2.21.2版本开始不支持url带#/" name="2">
          项目配置链接原来支持以下两种：
          https://h5-act.kajicam.com/zepeto/2020/geek/index.html#/
          https://h5-act.kajicam.com/zepeto/2020/geek/index.html
          现在只支持：
          https://h5-act.kajicam.com/zepeto/2020/geek/index.html

          去试衣间返回要处理url中的"#/"
        </van-collapse-item>

        <van-collapse-item class="contSty" title="27. 全屏H5与卡片式H5" name="3">
          全屏H5配置方式：
          <p @click="fullScreen">ZEPETO://HOME/WEBVIEW?url=https://h5-act.kajicam.com/zepeto/2020/geek/index.html
          卡片式H5配置方式：</p>
          <p @click="cardScreen">https://h5-act.kajicam.com/zepeto/2020/geek/index.html</p>
        </van-collapse-item>

        <van-collapse-item class="contSty" title="1）部分华为手机和vivo手机不能返回上一页" name="4">
          <p>this.$router.back()</p>
          <p> this.$router.go(-1)</p>
          <p>这两种返回方式在华为手机和vivo手机上有兼容问题，不能返回。</p>
          <pre>可以使用: 
this.$router.push({name: 'List'})
或者
this.$router.push({path: '/list'})</pre>
        </van-collapse-item>
        
      </van-collapse>

    </van-list>

  </div>
</template>

<script>

export default {
  name: 'Note',
  data() {
    return {
      activeNames: ['0'],
      loading: false,
      finished: false,
    };
  },
  methods: {
    onLoad() {
      // 加载状态结束
      this.loading = false;
      // 数据全部加载完成
      this.finished = true;
    },
    tryFn() {
      this.$router.push({
        name: 'Detail',
      })
    },
    // 全面屏
    fullScreen() {
      window.location.href = 'ZEPETO://HOME/WEBVIEW?url=https://h5-act.kajicam.com/zepeto/2020/geek/index.html'
    },
    // 卡片式屏
    cardScreen() {
      window.location.href = 'https://h5-act.kajicam.com/zepeto/2020/geek/index.html'
    }
  }
}
</script>

<style lang="scss">
.van-collapse-item__content{
  color: #666!important;
}
</style>